.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: 500;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn-primary {
  background-color: hsl(346 100% 71%);
  color: hsl(0 0% 98%);
}

.btn-primary:hover {
  background-color: hsl(346 100% 65%);
}

.btn-secondary {
  background-color: hsl(177 66% 63%);
  color: hsl(0 0% 100%);
}

.btn-secondary:hover {
  background-color: hsl(177 66% 55%);
}